<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Пропозиції" tabBadge="{{ myJobsList.length ? myJobsList.length : ''}}" tabBadgeStyle="danger" tabIcon="ios-paper-outline"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Контакти" tabBadge="{{friendsRequestsArr && friendsRequestsArr.length ? friendsRequestsArr.length : ''}}" tabBadgeStyle="danger" tabIcon="ios-people-outline"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Профіль" tabIcon="ios-person-outline"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Інфо" tabIcon="ios-information-circle-outline"></ion-tab>
</ion-tabs>

