
<ion-content padding *ngIf="showCode==true">

  <p class="sub_title">Код підтвердження</p>

  <ion-row align-items-center>
    <ion-col col-sm-9>
      <div class="input_one">
        <ion-item focus class="input-cover-black">
          <input type="text" [(ngModel)]="user.code" maxlength="4">

        </ion-item>

        <div class="valid">
        </div>
      </div>


      <button ion-button color="button_color"  (click)="login('top')" round
              ngClass="{{ (user.code != null && user.code.length == 4 && user.code.length >0) ? 'auth-active-button' : ''}}"
      >    Надіслати


      </button>
      <!--<div class="forgott">-->
        <!--<div margin-bottom><a (click)="sendAgain()">Надіслати код повторно</a></div>-->
      <!--</div>-->

    </ion-col>
  </ion-row>
</ion-content>

<ion-content padding *ngIf="showCode==false">

  <p class="sub_title">Новий пароль</p>

  <ion-row align-items-center>
    <ion-col col-sm-9>


      <div class="input_bottom">
        <div class="input_two">
          <ion-item justify-content-center>

            <ion-input
                    [type]="isActive ? 'password' : 'text'"
                    placeholder="Пароль"
                    [(ngModel)]="user.password"
                    minlength="6"
            maxlength="15"
            ></ion-input>
            <ion-icon
                    class="pass-icon"
                    [name]="isActive ? 'eye-off': 'eye' "
                    item-right
                    (click)="showPass()">
            </ion-icon>
          </ion-item>

          <div class="valid">
          </div>
        </div>
      </div>

      <button ion-button color="button_color"  (click)="reset('top')" round
              ngClass="{{ (user.password.length > 0  && user.password !== null) ? 'auth-active-button' : ''}}">    Відновити
        <!--ngClass="{{ (user.phone !== null &&-->
        <!--user.phone.length === 9 ) ? 'auth-active-button' : '' }}"-->


      </button>



    </ion-col>
  </ion-row>
</ion-content>
<ion-footer style="background-color: #fec01c; color: white;
    border: none;" (click)="back()">
  <!--<ion-toolbar style="background-color: #fdad2a">-->
  <ion-title style="background-color: #fec01c; color: white;
    border: none;">Повернутися до входу</ion-title>
  <!--</ion-toolbar>-->
</ion-footer>