
  <ion-header>
    <ion-navbar hideBackButton>
      <ion-row justify-content-between align-items-center *ngIf="!showSearchbar">
        <ion-col>
          <ion-buttons ion-col>
            <button ion-button text-capitalize (click)="goBack()">
              Назад
            </button>
          </ion-buttons>
        </ion-col>
        <ion-title text-center *ngIf="!showSearchbar">Додати контакти</ion-title>
        <ion-icon ios="ios-search" md="md-search" (click)="showSBar()" ion-col text-end></ion-icon>
      </ion-row>
      <div *ngIf="showSearchbar">
        <ion-searchbar
                [animated]="'true'"
                [showCancelButton]="'true'"
                placeholder="Пошук"
                (ionInput)="filterItems($event)"
                (ionCancel)="hideSBar()">
        </ion-searchbar>
      </div>
    </ion-navbar>
  </ion-header>


  <ion-content class="phone-contacts" (swipe)="swipeEvent($event)">
    <ion-item *ngFor=" let contact of displayContactlist | orderBy: 'displayName'" no-lines>
      <!--<ion-item *ngFor=" let contact of justArray | orderBy: 'displayName'" no-lines>
      [(ngModel)]="user.phone"
      -->
      <ion-row>
        <ion-col col-6>
          <h2 class="contact-name"><b>{{contact.displayName}}</b></h2>
        </ion-col>
        <ion-col col-6>
          <ion-row class="number-block" *ngFor="let number of contact.phoneNumbers">
            <ion-col col-9>
              <h2 class="number">{{number.value || ''}}</h2>
            </ion-col>
            <ion-col col-3 class="button-wrapper">
              <button *ngIf="number.value" ion-button item-end float-right round outline (click)="seeNumber(contact.phoneNumbers)">+</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-content>


